/* Large devices (large desktops, 1200px and up) */
@media(min-width:1025px) {

  .fit1024 {
    max-width: 1024px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container-fluid {
    padding-right: 40px;
    padding-left: 40px;
  }

  h1.section-title {
    font-size: 35px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }

  #top-page {
    background-size: auto 100%;
    background-position: center center;
    height: 100vh;
  }

  #infographic .content {
    padding: 25px 0;
  }

  #infographic .content p {
    padding: 12px 0;
  }

  #how-litsafe .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }  

  #safety .content-title .text {
    padding: 0 15px;
  }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  h1.section-title {
    font-size: 30px;
  }

  #sidenav .side-content {
    width: 300px;
    height: 100vh;
  }

  #sidenav span i {
    position: fixed;
    margin-left: 11px;
    margin-top: 15px;
    padding: 3px 8px;
    font-size: 25px;
  }

  #sidenav span img {
    width: 40px;
    margin-left: 10px;
    margin-top: 7px;
  }

  #sidenav .side-content .menu-option {
    padding: 20px 8px 0px 32px;
  }

  #sidenav .side-content a {
    font-size: 14px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }

  #top-page {
    background-size: auto 100%;
    background-position: center center;
    height: 100vh;
  }

  #infographic .content img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    display: block;
  }

  #infographic .content p {
    text-align: center;
    padding: 0px;
    font-size: 16px;
  }

  #how-litsafe .content {
    font-size: 16px;
    text-align: left;
  }

  #how-litsafe .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  #how-litsafe .content .container {
    padding-right: 25px;
    padding-left: 25px;
  }

  #how-litsafe .content-img img {
    width: 40px;
  }

  #benefit .content {
    font-size: 16px;
    padding: 25px 10px;
    text-align: left;
  }

  #benefit .content-img img {
    width: 40px;
  }

  #strength .content {
    font-size: 16px;
    padding: 25px 10px;
    text-align: left;
  }

  #strength .content-img img {
    width: 40px;
  }

  #safety {
    background-color: #F5F7F6;
    padding: 25px 0 75px;
    height: auto;
    color: #465165;
  }

  #safety .content:nth-child(2) {
    border-bottom:   1px solid #9DA4AE;
    padding-bottom: 25px;
  }

  #safety .content:nth-child(3) {
    border-right:  none;
    border-left:   none;
    border-bottom:   1px solid #9DA4AE;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #safety .content:nth-child(4) {
    padding-top: 25px;
  }

  #safety .content ul {
    text-align: left;
    font-size: 15px;
  }

  #safety .content-title {
    font-size: 16px;
  }

  #about-us {
    background-size: auto 100%;
  }

  #about-us .content .text {
    font-size: 16px;
  }

  #contact-us label {
    font-size: 16px;
  }

  #contact-us .input-group {
    width: 100%;
  }

  #contact-us .help-block {
    font-size: 16px;
  }

  .ui-notification>.message {
    font-size: 13px;
  }
  
}