html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #4D4D4D;
  transition: background-color .5s;
}

h1.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

h1.section-title:after {
  background: #EDF3F3 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 4px;
  margin-top: 15px;
  width: 50px;
}


/*============SIDENAV===========*/

#openbtn {
  position: fixed;
  z-index: 5;
  display: block;
}

#closebtn {
  position: fixed;
  z-index: 6;
  display: none;
}

#sidenav span i {
  position: fixed;
  margin-left: 20px;
  margin-top: 20px;
  padding: 3px 8px;
  font-size: 35px;
  cursor: pointer;
  z-index: 5;
  color: #fff;
}

#sidenav span img {
  position: fixed;
  width: 50px;
  margin-left: 17.5px;
  margin-top: 11px;
  cursor: pointer;
  z-index: 4;
}

#sidenav .side-content {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 340px;
  position: fixed;
  z-index: 4;
  top: 0;
  background-color: #575F72;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-transform: uppercase;
  -ms-transform: translateX(-340px);
  /* IE 9 */
  -webkit-transform: translateX(-340px);
  /* Safari */
  transform: translateX(-340px);
  /* Standard syntax */
}

#sidenav .side-content.open {
  -ms-transform: translateX(0px);
  /* IE 9 */
  -webkit-transform: translateX(0px);
  /* Safari */
  transform: translateX(0px);
  /* Standard syntax */
}

#sidenav .side-content .logoside {
  margin: 0 auto;
}

#sidenav .side-content .logoside img {
  width: 80%;
  margin: 0 20px;
}

#sidenav .side-content .menus {
  margin-top: 40px;
}

#sidenav .side-content .menu-option {
  border-bottom: 1px solid #9DACC7;
  padding: 30px 8px 0px 32px;
}

#sidenav .side-content a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  transition: 0.3s;
}

#sidenav .side-content a:after {
  padding-top: 5px;
  display: block;
  content: '';
  border-bottom: solid 3px #FFF;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#sidenav .side-content a.menu:after {
  transform-origin: 0% 50%;
}

#sidenav .side-content a:hover:after {
  transform: scaleX(0.25);
}

#myOverlay {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 3;
}

.animate-opacity {
  animation: opac 0.8s
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}


/*============TOP PAGE===========*/

#top-page {
  background-image: url("../images/bg1.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
}


/*============INFOGRAPHIC===========*/

#infographic {
  background-color: #F5F7F6;
  padding: 50px 0 50px;
  height: auto;
}

#infographic .content {
  padding: 25px 40px;
  border-bottom: solid 1px rgba(157, 164, 174, 0.5);
  text-align: justify;
  text-justify: inter-word;
}

#infographic .content:last-child {
  border-bottom: solid 0px #9DA4AE;
}

#infographic .content p {
  padding: 20px 0px;
  font-size: 18px;
}

#infographic .content p b {
  color: #465165;
}

#infographic .content img {
  width: 75px;
  z-index: -1;
}


/*============HOW LITSAFE HELPS===========*/

#how-litsafe {
  background-color: #465165;
  height: auto;
  color: #fff;
  font-size: 20px;
  padding: 60px 0 50px;
}

#how-litsafe .section-title {
  margin-bottom: 50px;
  color: #F4F5F7;
}

#how-litsafe .content {
  padding: 25px 0;
  font-size: 18px;
  color: #F4F5F7;
  line-height: 180%;
  text-align: justify;
  text-justify: inter-word;
}

#how-litsafe .content .container {
  padding-right: 55px;
  padding-left: 55px;
}

#how-litsafe .content:nth-child(odd) {
  background-color: #586073;
}

#how-litsafe .content-img img {
  width: 46px;
  position: absolute;
}


/*============BENEFIT===========*/

#benefit {
  background-color: #F5F7F6;
  height: auto;
  color: #454C56;
  font-size: 20px;
  padding: 60px 0 50px;
}

#benefit .section-title {
  margin-bottom: 50px;
  color: #454C56;
}

#benefit h1.section-title:after {
  background: #4269A4 none repeat scroll 0 0;
}

#benefit .content {
  padding: 25px 55px;
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
  text-justify: inter-word;
}

#benefit .content-img img {
  width: 46px;
  position: absolute;
}


/*============HOW LITSAFE HELPS===========*/

#strength {
  background-color: #fff;
  height: auto;
  color: #3C404C;
  font-size: 20px;
  padding: 60px 0 50px;
}

#strength .section-title {
  margin-bottom: 50px;
  color: #454C56;
}

#strength h1.section-title:after {
  background: #0FA2B6 none repeat scroll 0 0;
}

#strength .content {
  padding: 25px 55px;
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
  text-justify: inter-word;
}

#strength .content-img img {
  width: 46px;
  position: absolute;
}


/*============SAFETY MODULES===========*/

#safety {
  background-color: #F5F7F6;
  padding: 50px 0 75px;
  height: auto;
  color: #465165;
}

#safety h1.section-title:after {
  background: #465165 none repeat scroll 0 0;
}

#safety .section-title {
  margin-bottom: 50px;
}

#safety .content-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#safety .content-title .text {
  padding: 7px 0;
}

#safety .content:nth-child(3) {
  border-right: 1px solid #9DA4AE;
  border-left: 1px solid #9DA4AE;
}

#safety ul {
  font-size: 17px;
}

#safety li {
  margin-bottom: 15px;
  list-style-image: url('../images/arrow.gif');
  padding-top: 0px;
}

/*============PRICES MODULES===========*/

#prices {
  background-color: #465165;
  padding: 50px 0 75px;
  height: auto;
  color: #F4F5F7;
}

#prices h1.section-title:after {
  background: #F4F5F7 none repeat scroll 0 0;
}

#prices .section-title {
  margin-bottom: 50px;
}

#prices .content-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 auto 25px auto;
}

#prices .text .content-title {
  padding: 7px 0;
  text-align: center;
}

#prices .content {
  min-height: 150px;
  margin-bottom: 16px;
  text-align: center;
}

#prices .content-middle {
  border-right: 1px solid #F4F5F7;
  border-left: 1px solid #F4F5F7;
}

#prices .button {
  margin: 0 auto;
  text-align: center;
}

#prices .quote-text {
  border: 2px solid #F4F5F7;
  padding: 10px 16px;
  border-radius: 21px;
  font-size: 1.5em;
  margin: 8px auto;
}

#prices .dollar {
  vertical-align: top;
  font-size: 1.4em;
}

#prices .amount {
  font-size: 2.5em;
}

#prices .duration {

}

#prices button {
  margin: 0 auto;
  text-align: center;
  color: #F4F5F7;
  background-color: #5a6275;
  border: none;
  padding: 10px 16px;
  border-radius: 21px;
}

#prices button:hover {
  background-color: #545b6b;
}

#prices button:active {
  background-color: #525762;
}

#prices button:focus {
  outline: none;
}

@media (max-width: 480px) {
  #prices .content-middle {
    border-right: none;
    border-left: none;
  }
  #prices .content-middle-2 {
    border-top: 1px solid #F4F5F7;
    border-bottom: 1px solid #F4F5F7;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 25px auto;
  }
}

@media (max-width: 768px) {
  #prices .text .content-title {
    font-size: 0.6em;
  }
  #prices .quote-text {
    border: 2px solid #F4F5F7;
    padding: 8px;
    border-radius: 10px;
    font-size: 1.3em;
    margin: 8px auto;
  }
  #prices .description {
    font-size: 0.8em;
  }
}
/*============ABOUT US===========*/

#about-us {
  background: url("../images/about_bg.jpg") no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  padding: 100px 0;
  height: auto;
  color: #EEF4F4;
}

#about-us .section-title {
  margin-bottom: 50px;
}

#about-us .content .text {
  padding: 0 0 20px;
  font-size: 18px;
  text-align: center;
}

#about-us .content h2 {
  line-height: 180%;
}


/*============CONTACT US===========*/

#contact-us {
  background-color: #465165;
  color: #EDF3F3;
  padding: 75px 0;
  text-align: center;
}

#contact-us .section-title {
  margin-bottom: 50px;
}

#contact-us label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

#contact-us .input-group {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

#contact-us .form-control, #contact-us .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#contact-us .btn {
  color: #465165;
  background-color: #f0f0f0;
  font-weight: 700;
}

#contact-us .help-block {
  color: #ff1a1a;
  font-size: 18px;
}

.ui-notification>.message {
  font-size: 14px;
  text-align: right;
}


/*============FOOTER===========*/

#section-footer {
  height: auto;
  padding: 14px 0;
  text-align: center;
  background: #FBF9FE;
  font-size: 14px;
  color: #3C404C;
}