<!DOCTYPE html>
<html lang="en">
<head>
  <!--
  '%gg,                                                                          
  "$$$@@gg,             ,,gggC      mg,     ,gm                 @@             @@   @K
    %$$$$$$$$k    ,@@@@@@@@@'        %@g   g@P       ,ggg,,             ,ggg,  @@           ,ggg,
     "$$$$$$$$$  g@@@@@@@@P           "@@,@@`     ,@@P""""N@@   @@   ,@@P"""*%@@@   @F   g@@*"""*%@g
       1$$$$$$$  $$@@@@@@"              $@@      ]@P            @@   @@       "@@   @F  #@"
         %$$$$$  $$$%@@@               @@M@@     $@             @@  ]@L        @@   @F  $@
          @$$$$  $$$$&P              g@@   %@g   '$@,      ,g   @@   %@g      g@F   @F  ]@N       g,
        ,@@@$$$  $$$$$$w            g@F     F@@    "N@@g@@@N`   @@    "%@@@@@@P`    @F    *B@@g@@@M
       g@@@@@@$  $$$$$$$@
      @@@@@@@@@  %$$$$$$$$g        gggw   gggg,  gggg,  ggggg ggggg     gggggp ggggp  ,gg   gg    gg
    ,@@@@@@@@P    "$$$$$$$$@,     @P  "* @P   @P @   $@ @     $@  $@      @P   @      @P@   @R@  @B@
   '""``             '"M&$$$$k    @P     @P   @P @   $@ @"""  $@""Bg      @P   @"""  @@,$@  @P]P]P]@
                           '"M&w  "Bgg@C  Bgg@P  @Wg@P  @@ggg $@   @      @P   @gggw @   $@ @P $@ ]@
  -->
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Litsafe specialises in the development of safety related IT system to assist our clients in achieving safety excellence and zero workplace accident." name="description">
  <meta content="Muhammad Al Anis Faishal" name="coder">
  <meta content="Michael Zhang" name="designer">
  <title>LitSafe - Powering Safety Excellence</title>

  <link href="images/favicon1.png" rel="shortcut icon" type="image/png" />
  <link href="images/192x192.png" rel="icon" sizes="192x192">
  <meta content="yes" name="mobile-web-app-capable">
  <meta content="#575F72" name="theme-color">
  <meta content="Litsafe" name="apple-mobile-web-app-title">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="#575F72" name="msapplication-navbutton-color">
  <link href="manifest.json" rel="manifest">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600,700,800" rel="stylesheet" />
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.css" />
  <link href="css/xcidic-litsafe.css" rel="stylesheet" />
  <link href="css/responsive.css" rel="stylesheet" /><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
</head>
<body ng-app="litsafeApp">
  <section id="sidenav" ng-controller="navController">
    <div class="side-content" id="menu">
      <div class="menus">
        <div class="menu-option" ng-click="w3_close()">
          <a class="menu" href="#" scroll-to="top-page">Home</a>
        </div>
        <div class="menu-option" ng-click="w3_close()">
          <a class="menu" href="#" scroll-to="infographic">Infographic</a>
        </div>
        <div class="menu-option" ng-click="w3_close()">
          <a class="menu" href="#" scroll-to="how-litsafe">How LitSafe Helps</a>
        </div>
        <div class="menu-option" ng-click="w3_close()">
          <a class="menu" href="#" scroll-to="benefit">Key Benefits</a>
        </div>
        <div class="menu-option" ng-click="w3_close()">
          <a class="menu" href="#" scroll-to="strength">Our Expertise and Strengths</a>
        </div>
        <div class="menu-option" ng-click="w3_close()">
          <a class="menu" href="#" scroll-to="safety">Our Safety Modules</a>
        </div>
        <div class="menu-option" ng-click="w3_close()">
          <a class="menu" href="#" scroll-to="prices">Prices</a>
        </div>
        <div class="menu-option" ng-click="w3_close()">
          <a class="menu" href="#" scroll-to="about-us">About Us</a>
        </div>
        <div class="menu-option" ng-click="w3_close()">
          <a class="menu" href="#" scroll-to="contact-us">Contact</a>
        </div>
      </div>
    </div>
    <span id="closebtn" ng-click="w3_close()"><img src="images/hexagon.svg"><i class="fa fa-navicon"></i></span>
    <span id="openbtn" ng-click="w3_open()"><img src="images/hexagon.svg"><i class="fa fa-navicon"></i></span>    
    <div class="overlay animate-opacity" ng-click="w3_close()" id="myOverlay"></div>
  </section>
  <section id="top-page"></section>
  <section id="infographic">
    <div class="container-fluid fit1024">
      <div class="content">
        <div class="row">
          <div class="col-sm-2"><img src="images/info1.png"></div>
          <div class="col-sm-10 text">
            <p>Following a three-week safety blitz, code-named Operation Sunbird, by the Manpower Ministry, work has been suspended at <b>6 construction sites</b></p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-sm-2"><img src="images/info2.png"></div>
          <div class="col-sm-10 text">
            <p>Of the 214 worksites inspected, <b>191 worksites</b> had violated the Workplace Safety and Health (WSH) Act</p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-sm-2"><img src="images/info3.png"></div>
          <div class="col-sm-10 text">
            <p>A total of <b>272 non-compliance notices and 147 fines</b>, amounting <b>$156,000</b>, were slapped on the errant companies</p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-sm-2 content-img"><img src="images/info4.png"></div>
          <div class="col-sm-10 text">
            <p>Construction in 2014 - <b>27 deaths and 2,888 injuries</b></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="how-litsafe">
    <div class="container-fluid">
      <h1 class="section-title container-fluid fit1024">HOW LITSAFE HELPS</h1>
      <div class="row">
        <div class="col-md-12 content">
          <div class="container fit1024">
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/how-help/h1.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>Ensure safety compliance and prevent business destruction (Stop Work Order, Business under surveillance and Fines).</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 content">
          <div class="container fit1024">
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/how-help/h2.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>Support and enhance current safety process (OHSAS 18K, SS506 and BizSAFE) through effective communication and providing real - time safety feedback for immediate action.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 content">
          <div class="container fit1024">
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/how-help/h3.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>Reduce manual administrative work at a low monthly subscription (S$500 per month for the basic package).</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 content">
          <div class="container fit1024">
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/how-help/h4.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>Offers customized modules to suit your business needs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="benefit">
    <div class="container-fluid fit1024">
      <h1 class="section-title">KEY BENEFITS</h1>
      <div class="row">
        <div class="col-md-12 content">
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/benefit/h1.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>Achieve zero accident through active monitoring and timely preventive actions. (Incident / near misses reporting)</p>
            </div>
        </div>
        <div class="col-md-12 content">
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/benefit/h2.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>Achieve zero fine through comprehensive compliance inspection and timely implement of control measures. (Compliance checklist)</p>
            </div>
        </div>
        <div class="col-md-12 content">
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/benefit/h3.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>Enhance safety standards and safer working environment through ensuring effective implementation of control measures to reduce risks. (Risk management)</p>
            </div>
        </div>
        <div class="col-md-12 content">
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/benefit/h4.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>Reduce man hours by at least 30% through the elimination of manual data entry, analysis and monitoring. (Lisafe safety system)</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id="strength">
    <div class="container-fluid fit1024">
      <h1 class="section-title">OUR EXPERTISE AND STRENGTHS</h1>
      <div class="row">
        <div class="col-md-12 content">
          
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/strength/h1.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>Experienced safety practitioner (we understand, we customise and we implement)</p>
            </div>
        </div>
        <div class="col-md-12 content">
          
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/strength/h2.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>IT expertise (empower safety with technology) </p>
            </div>
        </div>
        <div class="col-md-12 content">
          
            <div class="col-xs-3 col-sm-2 col-md-1 content-img"><img src="images/strength/h3.svg"></div>
            <div class="col-xs-9 col-sm-10 col-md-11 content-text">
              <p>With the combination of both, we provide effective and customisable solution to safeguard your assets (employee, business and property)</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id="safety">
    <div class="container-fluid fit1024">
      <h1 class="section-title">OUR SAFETY MODULES</h1>
      <div class="col-sm-4 col-md-4 content">
        <h2 class="content-title row">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <img src="images/safety/risk.svg" />
          </div>
          <div class="col-xs-10 ol-sm-10 col-md-10 text">
            RISK MANAGEMENT
          </div>
        </h2>
        <ul>
          <li>Live working document.</li>
          <li>Closed loop tracking.</li>
          <li>Status monitoring.</li>
          <li>Risk outlook overview.</li>
          <li>Record keeping.</li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-4 content">
        <h2 class="content-title row">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <img src="images/safety/report.svg" /> 
          </div>
          <div class="col-xs-10 ol-sm-10 col-md-10 text">
            INCIDENT REPORTING
          </div>
        </h2>
        <ul>
          <li>Instant capture of incidents and nearmisses.</li>
          <li>Closed loop tracking.</li>
          <li>Status monitoring.</li>
          <li>Notification to management.</li>
          <li>Case study references.</li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-4 content">
        <h2 class="content-title row">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <img src="images/safety/compliance.svg" /> 
          </div>
          <div class="col-xs-10 ol-sm-10 col-md-10 text">
            COMPLIANCE CHECKLIST
          </div>
        </h2>       
        <ul>
          <li>Instant update of non-compliance.</li>
          <li>Pictorial for easy understanding.</li>
          <li>Immediate tracking of control measures.</li>
          <li>Notification to management.</li>
          <li>Record keeping.</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="prices">
    <div class="container-fluid fit1024">
      <h1 class="section-title">PRICES</h1>
      <div class="col-sm-4 col-md-4 col-xs-12">
        <div class="col-xs-12 ol-sm-12 col-md-12 text">
          <h2 class="content-title row">
            SIMPLE PACKAGE
          </h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 content">
          <div><span class="dollar">$</span><span class="amount">100</span><span class="duration">/month</span></div>
          <div class="description">Up to 5 user</div>
        </div>
        <div class="col-xs-12 ol-sm-12 col-md-12 button">
          <button type="button">BUY NOW</button>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-xs-12 content-middle-2">
        <div class="col-xs-12 ol-sm-12 col-md-12 text">
          <h2 class="content-title row">
            STANDARD PACKAGE
          </h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 content content-middle">
          <div><span class="dollar">$</span><span class="amount">150</span><span class="duration">/month</span></div>
          <div class="description">Unlimited user</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 button">
          <button type="button">BUY NOW</button>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-xs-12">
        <div class="col-xs-12 ol-sm-12 col-md-12 text">
          <h2 class="content-title row">
              PREMIUM PACKAGE
          </h2>
        </div>
        <div class="col-xs-12 ol-sm-12 col-md-12 content">
          <div class="quote-text">Get A Quote</div>
          <div class="description">Customize and unique requirements</div>
        </div>
        <div class="col-xs-12 ol-sm-12 col-md-12 button">
          <button type="button">BUY NOW</button>
        </div>
      </div>
    </div>
  </section>
  <section id="about-us">
    <div class="container-fluid fit1024">
      <div class="content">
        <h2 class="text">We strive to expand our scope of services with new technology to provide a comprehensive and customised system catering to the needs of our clients.</h2>
        <h2 class="text">Litsafe specialises in the development of safety related IT system to assist our clients in achieving safety excellence and zero workplace accident.</h2>
      </div>
    </div>
  </section>
  <section id="contact-us" ng-controller="formController">
    <div class="container-fluid fit1024">
      <label>Enter your e-mail to receive news from us</label>
      <form name="userForm" ng-submit="submitForm(user)" novalidate>
        <div class="input-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
          <input type="email" class="form-control" placeholder="Your e-mail" name="email" ng-model="user.email" required>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid || searchButtonText == 'SENDING'"><span ng-show="searchButtonText == 'SENDING'"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span> {{ searchButtonText }}</button>
          </div>
        </div>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
      </form>
    </div>
  </section>
  <section id="section-footer">
    <div> &copy; 2017 Litsafe. All Rights Reserved</div>
    <div>Concocted by <a href="http://www.xcidic.com" target="_blank" class="xcidic">Xcidic</a></div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js">
  </script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script> 
  <script crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script> 
  <script src="js/ngsmoothscroll/lib/angular-smooth-scroll.js">
  </script>
  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script type="text/javascript">
     (function(){
        emailjs.init("user_3CJxqFk4QHlqhc6MCVhPN");
     })();
  </script>
  <script src="js/xcidic-litsafe.js">
  </script>
  <script type="text/ng-template" id="custom_template.html">
    <div class="ui-notification custom-template">
        <h3>{{nTitle}}</h3>
        <div class="message" ng-bind-html="message"></div>
        <div class="message">
            <ul>
                <li ng-repeat="el in nElements">{{el}}</li>
            </ul>
        </div>
        <div class="message">
            <a class="btn btn-small btn-primary close-notification" ng-click="nClick()">Click me</a>
        </div>
    </div>
  </script>
</body>
</html>